th, td {
    text-align: center;
}

tr {
    background-color: #fdf2e7;
}

.buttonWrapper {
    display: flex;
    justify-content: space-around;
}

.separator {
    height: 50px;
    border: 1px solid gray;
    cursor: grab;
}